# Ignore Log Files
*.log

# Ignore Virtual Environment
.venv

# Ignore .mov
*.mov

# Ignore pycache
__pycache__

# Ignore "Project 2 - Group 5" zip file
Project 2 - Group 5

# Ignore vscode workspace settings
.vscode

# Ignore actor critic template
actor_crtic.py

# Don't track DS_Store files
.DS_Store